*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Yantramanav', sans-serif;

}
    
.cabecalho{
    background-color: gray;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0%;
}
.cabecalho-imagem{
    width:10%;
    
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
background-image:linear-gradient(gray, rgb(130, 73, 68)) ;
color: white;
display: flex; 
justify-content: center;
align-items: center;
padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.astro-imagem{
    width: 15%;
}
.container{
    position: relative;
    display: inline-block;
}
.rede-sociais{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}
.icone-rede-social{
margin-right: 5px; 
}

.icone img{
    width: 20px;
    height: 20px;
}